<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="/main.css" rel="stylesheet">
</head>
<body>
<div class="card" th:each="item : ${items}">
    <img src="https://placehold.co/300">
    <div>
        <h4 th:text="${item.itemName}"></h4>
        <p th:text="${item.category.categoryId}"></p>
        <p th:text="${item.itemBrand}"></p>
        <p th:text="${item.itemPrice}"></p>
        <p th:text="${item.itemLike}"></p>
        <p th:text="${item.itemRating}"></p>
        <p th:text="${item.itemStatus}"></p>
    </div>
</div>
</body>
</html>